.container {
    max-width: auto;
    height: 80vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('/img1.jpg'); /* Update the path accordingly */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: screen; 
    background-color: #e9e7e7; 
}

.inputValue {
    font-size: medium;
    max-height: auto;
}

.inputValue label {
    font-size: 30px;
    font-weight: bold;
}

.inputValue input {
    border-radius: 10px;
    border: 0;
    font-size: 90px;
    text-align: center;
    background-color: #aeaeae;
    height: 150px;
    width: 400px;
}

.btnClick {
    margin: 20px 0 10px 0;
}

.btnClick button {
    margin: 0 10px;
    height: 4.5rem;
    width: 9rem;
    border-radius: 10px;
    border: 0;
    font-size: x-large;
}

.btnClick button.btnPlus {
    background-color: green;
    color: white;
}

.btnClick button.btnDelete {
    background-color: red;
    color: white;
}

@media screen and (max-width: 800px) {
    .container {
        max-width: auto;
        margin: 0 auto;
        text-align: center;
        background-image: url('/img1.jpg'); /* Update the path accordingly */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .containerGroup {
        height: auto; /* Adjust as per your design */
        max-width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inputValue input {
        height: auto; 
        width: 100%; /* Adjust width to fit container */
        max-width: 400px; /* Example maximum width */
        font-size: 50px; /* Adjust font size for smaller screens */
    }

    .btnClick {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .btnClick button {
        height: auto; /* Adjust height as needed */
        width: auto; /* Allow button to expand with content */
        max-width: 100%; /* Ensure buttons don't overflow parent */
        font-size: large; /* Adjust font size for smaller screens */
        margin: 10px; /* Adjust margins */
        width: 8rem;
        height: 3rem;
    }
}

