.container {
    max-width: auto;
    margin: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.header {
    background: #fff;
    height: 120px;
}
.logoContainer .logo {
    margin-top: 10px;
}
@media screen and (max-width: 800px) {
   
    .logoContainer{
        display: flex;
      justify-content: center;
      align-items: center;
    }
    .logoContainer .logo{
      height: 5%; 
      max-width:70%;
    }
    
}
@media screen and (max-width: 360px) {
   
    .logoContainer{
        display: flex;
      justify-content: center;
      align-items: center;
    }
    .logoContainer .logo{
      height: 5%; 
      max-width:70%;
    }
    
}